---
import { SITE } from '../constants.js'
const { title, description, image, color } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description}>
<meta name="theme-color" content={color}/>
<meta property="og:url" content={`https://${SITE.domain}`}>
<meta property="og:type" content="website">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={`https://${SITE.domain}/${image}`}>
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content={SITE.domain}>
<meta property="twitter:url" content={`https://${SITE.domain}`}>
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={`https://${SITE.domain}/${image}`}>